.catalog-item__link {
  color: $color-black;
  text-decoration: none;
}

.catalog-list__wrapper {
  text-align: center;
}

.catalog-item {
  margin-bottom: 30px;
  text-align: left;
  border: 1px solid $color-gray-light;
}

.catalog-item__title {
  margin: 0;

  @include font(17px, 24px)
}

.catalog-item__parameters {
  margin-top: 5px;
  padding: 0;
  margin-bottom: 18px;

  @include font(13px, 30px);
}

.catalog-item__description {
  margin-top: 17px;
  text-align: left;
  padding: 0 28px;
}

.catalog-item__header {
  border-bottom: 1pt solid $color-gray-light;
}

.catalog-item__footer {
  margin-top: 20px;
  margin-bottom: 22px;
  position: relative;
}

.catalog-item__price {
  width: 200px;
  margin-left: 2px;

  @include font(15px, 24px);
}

.catalog-item__icon--basket {
  position: absolute;
  top: -2px;
  right: 0px;
}

@media (min-width: $tablet-width) {
  /*Не понимаю почему задаю все отсупы как в макете а на деле в браузере получается 380 а в макете 334*/
  .catalog-item {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 56px;
  }

  .catalog-item__image {
    width: 332px;
  }

  .catalog-item__description {
    margin-top: 24px;
    padding: 0;
    width: 332px;
    /*padding: 29px 33px 0;*/
  }

  .catalog-item__header {
    margin: 0 29px;
  }

  .catalog-item__title {
    @include font(20px, 24px);
  }

  .catalog-item__parameters {
    padding: 0;
    margin-bottom: 175px;

    @include font(15px, 30px);
  }

  .catalog-item__footer {
    margin-left: 29px;
    margin-right: 29px;
    padding: 0;
  }

  .catalog-item__icon--basket {

  }

  .catalog-item__price {

    @include font(17px, 24px);
}
}


@media (min-width: $desktop-width) {
  .catalog-item {
    justify-content: space-between;
    width: 312px;
    margin: 0;
    padding: 0;
  }

  .catalog-item__description {
    padding: 0;
    margin-top: 15px;
  }

  .catalog-item__image {
    width: 332px;
    height: 460px;
    outline: 1px solid red;
  }

  .catalog-item__parameters {
    padding-bottom: 0px;
    margin-bottom: 38px;
  }

  .catalog-item__footer {
    margin-bottom: 10px;
  }

}
