.catalog-list__wrapper {
  margin-top: 28px;
}

@media (min-width: $tablet-width) {
  .catalog-list__wrapper {
    margin-top: 85px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list__wrapper {
    justify-content: space-between;
    width: 1050px;
    margin: 125px auto 56px;
  }
}
