.catalog-item__link {
  color: $color-black;
  text-decoration: none;
  width: 260px;
  height: auto;
}

.catalog-item {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: left;
  border: 1px solid $color-gray-light;
}

.catalog-item__title {
  margin: 0;

  @include font(17px, 24px);
}

.catalog-item__parameters {
  margin-top: 5px;
  padding: 0;
  margin-bottom: 18px;

  @include font(13px, 30px);
}

.catalog-item__description {
  margin-top: 17px;
  text-align: left;
  padding: 0 28px;
}

.catalog-item__header {
  border-bottom: 1pt solid $color-gray-light;
}

.catalog-item__footer {
  margin-top: 20px;
  margin-bottom: 22px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.catalog-item__price {
  width: 200px;
  margin-left: 2px;

  @include font(15px, 24px);
}

.catalog-item__icon--basket {
  top: -2px;
  right: 0;
}

@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 668px;
    margin-bottom: 56px;
  }

  .catalog-item__link {
    width: 332px;
    height: 330px;
  }

  .catalog-item__link img {
    width: 100%;
    height: 100%;
  }

  .catalog-item__description {
    margin-top: 24px;
    padding: 0;
    width: 332px;
  }

  .catalog-item__header {
    margin-left: 29px;
    flex-grow: 1;
  }

  .catalog-item__title {
    padding-right: 70px;

    @include font(20px, 24px);
  }

  .catalog-item__parameters {
    padding: 0;
    margin-bottom: 175px;

    @include font(15px, 30px);
  }

  .catalog-item__footer {
    margin-left: 29px;
    margin-right: 29px;
    padding: 0;
  }

  .catalog-item__price {
    @include font(17px, 24px);
  }
}


@media (min-width: $desktop-width) {
  .catalog-item {
    justify-content: space-between;
    width: 318px;
    margin: 0;
    padding: 0;
  }

  .catalog-item__description {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  .catalog-item__header {
    flex-grow: 1;
  }

  .catalog-item__title {
    padding-right: 50px;
  }

  .catalog-item__link {
    width: 332px;
    height: 460px;
  }

  .catalog-item__parameters {
    padding-bottom: 0;
    margin-bottom: 38px;
  }

  .catalog-item__footer {
    margin-bottom: 10px;
  }
}
