.contacts__wrapper {
  padding-top: 42px;
  outline: 1px solid red;
}

.contacts__title,
.contacts__inner {
  padding: 0 $indents;
  margin: 0;
}

.contacts__title {
  outline: 1px solid green;

  @include font(25px, 30px);
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid red;
}

.contacts__label,
.contacts__text {
  margin: 0;
  padding: 0;
  outline: 1px solid orange;
}

.contacts__label {
  width: 80px;
}

.contacts__btn {
  padding: 0 $indents 39px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 69px;
  }

  .contacts__inner {
    display: flex;
    flex-direction: row;
  }

  .contacts__title,
  .contacts__inner {
    padding: 0 $indents-tablet;
  }

  .contacts__item {
    padding-top: 66px;
  }

  .contacts__title {
    font-size: $size-h2-table;
  }

  .contacts__btn {
    width: 230px;
    margin: 0 auto;
    padding-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 1250px;
    position: relative;
  }

  .contacts__title,
  .contacts__inner {
    width: 350px;
    padding: 0 0 0 275px;
  }

  .contacts__title {
    padding-bottom: 66px;
  }

  .contacts__item {
    padding-bottom: 50px;
  }
}
