.contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.contacts__title,
.contacts__inner {
  padding: 0 $indents;
  margin: 0;
}

.contacts__title {
  padding-top: 43px;

  @include font(25px, 30px);
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
}

.contacts__label,
.contacts__text {
  margin: 0;
  padding: 0;
}

.contacts__label {
  width: 80px;
}

.contacts__btn {
  padding: 39px $indents;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .contacts__inner {
    display: flex;
    flex-direction: row;
  }

  .contacts__title,
  .contacts__inner {
    padding: 0 $indents-tablet;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__title {
    font-size: $size-h2-table;
  }

  .contacts__btn {
    width: 230px;
    margin: 0 auto;
    padding: 55px 0 57px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__title,
  .contacts__inner {
    padding: 0 $indents-desktop 0 275px;
  }
}
