.contacts__wrapper {
  padding: 41px 0 40px;
  margin: 0 auto;
  max-width: $mobile-width;
}

.contact__title {
  margin: 0 0 10px;
  padding: 0 $indents;

  @include font-set($weight, 18px, 30px);
}

.contacts__inner {
  padding: 0 $indents;
  margin: 0 0 22px;
}

.contact__item {
  display: flex;
  flex-wrap: wrap;
}

.contact__label,
.contact__text {
  margin: 0;
  padding: 15px 0;

  @include font-set(normal, 15px, 30px);
}

.contact__label {
  width: 64px;
}

.contact__text {
  padding-left: 13px;
  width: 183px;
}

.contact__email {
  text-decoration: none;
  border-bottom: 1px solid $color-blue-lighter;
  display: inline-block;
  color: $color-gray-dark;

  &:hover {
    color: $color-blue-darker;
    border-bottom-color: $color-blue-darker;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__btn {
  margin: 0 $indents;
  display: block;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    max-width: $tablet-width;
    padding-top: 61px;
    padding-bottom: 0;
  }


  .contact__title {
    padding: 0 55px 0 $indents-tablet;
    margin-left: -4px;
    margin-bottom: 34px;
    position: relative;

    @include font(43px, 50px);
  }

  .contact__title::after {
    content: "";
    display: block;
    width: 47px;
    height: 81px;
    position: absolute;
    right: 52px;
    top: -15px;
    background-image: url("../img/icon-flag.svg");
  }

  .contacts__inner {
    padding: 0 $indents-tablet;
    display: flex;
    flex-direction: row;
    margin-bottom: 41px;
  }

  .contacts__item {
    padding-top: 66px;
  }

  .contact__label {
    width: 65px;

    @include font(17px, 30px);
  }

  .contact__text {
    width: 255px;

    @include font(17px, 30px);
  }

  .contacts__btn {
    width: 230px;
    margin: 0 auto 57px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: $desktop-width;
    position: relative;
    padding-top: 140px;
    margin-bottom: 105px;
  }

  .contacts__inner {
    flex-direction: column;
    width: 350px;
    padding: 0;
    margin-bottom: 62px;
    margin-left: 30px;
  }

  .contact__title {
    padding-left: 30px;
    @include font(53px, 57px);
  }

  .contact__title::after {
    right: auto;
    left: -75px;
    top: -9px;
  }

  .contacts__item {
    padding-top: 49px;
  }

  .contacts__btn {
    margin: 30px;
  }
}
