.copyright {
  padding-top: 7px;
}

.copyright__link {
  color: $color-black;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;

  @include font-set($weight, 19px, 18px);

  &:hover .icon--logoacademy {
    fill: $color-blue-darker;
  }

  &:active {
    opacity: 0.6;
  }
}

.copyright__link .icon--logoacademy {
  width: 26px;
  height: 34px;
  right: 0;
  fill: $color-blue-lighter;
}

.copyright__link svg {
  width: 26px;
  height: 34px;
  right: 0;
}

.copyright__text {
  display: inline-block;
  margin: 0 49px 0 0;
  padding: 0;
  padding-top: 5px;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 0;
    margin-bottom: 10px;
    margin-right: 2px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    padding-right: 55px;
  }

  .copyright__link .icon--logoacademy {
    top: 0;
  }
}
