.features {
  padding: 0 $indents;
}

.features_title {
  margin: 0;
  padding: 36px 0 31px;

  @include font(25px, 30px);
}

.features__list {
  padding: 0;
}

.feature-item {
  list-style-type: none;
  font-weight: $weight;
  padding-bottom: 36px;
}


@media (min-width: $tablet-width) {
.features {
  padding: 0 $indents-tablet;
}

.features_title {
  font-size: $size-h2-table;
}

.features__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.feature-item {
  width: 50%;
}
}

@media (min-width: $desktop-width) {
  .features {
  padding: 0 225px;
}

  .feature-item--eco {
    order: 1;
}
  .feature-item--price {
    order: 3;
}
  .feature-item--like {
    order: 5;
}
  .feature-item--love {
    order: 2;
}
  .feature-item--support {
    order: 4;
}
.feature-item--present {
    order: 6;
}
}
