.features__wrapper {
  max-width: $mobile-width;
  padding: 0 $indents;
  margin: 0 auto;
  margin-bottom: 30px;
}

.features_title {
  margin: 0;
  padding: 0;
  margin: 28px 0;

  @include font-set($weight, 25px, 30px);
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature-item {
  padding-top: 60px;
  position: relative;
  margin-bottom: 23px;

  @include font-set($weight, 17px, 20px);
}

.feature-icon {
  position: absolute;
  fill: $color-blue-lighter;
}

.feature-icon--flower {
  left: 7px;
  top: 4px;
}

.feature-icon--money {
  left: 0px;
  top: 6px;
}

.feature-icon--heart {
  left: 7px;
  top: 11px;
}

.feature-icon--ball {
  left: 3px;
  top: 8px;
}

.feature-icon--rocket {
  left: -6px;
  top: 9px;
}

.feature-icon--gift {
  left: 3px;
  top: 7px;
}

@media (min-width: $tablet-width) {
  .features__wrapper {
    padding: 49px $indents-tablet 0;
    max-width: $tablet-width;
    margin-bottom: 35px;
  }

  .features_title {
    margin-left: -5px;
    margin-bottom: 43px;

    @include font(43px, 50px);
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .feature-item {
    width: 300px;
    margin-right: 34px;
    margin-bottom: 52px;

    @include font(20px, 22px);
  }

  .feature-item--flower {
    order: 0;
  }

  .feature-item--money {
    order: 2;
  }

  .feature-item--heart {
    order: 4;
  }

  .feature-item--ball {
    order: 1;
  }

  .feature-item--rocket {
    order: 3;
  }

  .feature-item--gift {
    order: 5;
  }
}

@media (min-width: $desktop-width) {
  .features__wrapper {
    padding: 0 $indents-desktop;
    margin-left: 175px;
  }



  .feature-item {
    width: 315px;
  }

  .features_title {
    margin-bottom: 43px;

    @include font(53px, 57px);
  }

  .feature-item--eco {
    order: 1;
  }

  .feature-item--price {
    order: 3;
  }

  .feature-item--like {
    order: 5;
  }

  .feature-item--love {
    order: 2;
  }

  .feature-item--support {
    order: 4;
  }

  .feature-item--present {
    order: 6;
  }
}
