.features__wrapper {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.features_title {
  padding: 0;
  margin-top: 13px;
  margin-bottom: 32px;

  @include font-set($weight, 25px, 30px);
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature-item {
  margin-bottom: 30px;

  @include font-set($weight, 17px, 20px);

  &--money {
    margin-bottom: 35px;
  }

  &--heart {
    margin-bottom: 32px;
  }

  &--ball {
    margin-bottom: 33px;
  }
}

.feature-icon {
  display: block;
  fill: $color-blue-lighter;
  margin-bottom: 17px;
}

.feature-icon--flower {
  margin-left: 7px;
}

.feature-icon--money {
  margin-bottom: 25px;
}

.feature-icon--heart {
  margin-left: 8px;
  margin-bottom: 21px;
}

.feature-icon--ball {
  margin-left: 3px;
  margin-bottom: 16px;
}

.feature-icon--rocket {
  margin-left: -5px;
  margin-bottom: 27px;
}

.feature-icon--gift {
  margin-left: 2px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .features__wrapper {
    width: 668px;
    margin-bottom: 25px;
    padding-top: 30px;
  }

  .features_title {
    margin-left: -5px;
    margin-bottom: 47px;

    @include font(43px, 50px);
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .feature-item {
    width: 300px;
    margin-right: 34px;
    margin-bottom: 60px;

    @include font(20px, 22px);
  }

  .feature-item--flower {
    order: 0;
  }

  .feature-item--money {
    order: 2;
  }

  .feature-item--heart {
    order: 4;
  }

  .feature-item--ball {
    padding-top: 5px;
    order: 1;
  }

  .feature-item--rocket {
    order: 3;
  }

  .feature-item--gift {
    order: 5;
  }
}

@media (min-width: $desktop-width) {
  .features__wrapper {
    width: 700px;
  }

  .feature-item {
    width: 315px;
  }

  .features_title {
    margin-top: 40px;
    margin-bottom: 49px;

    @include font(53px, 57px);
  }

  .feature-icon--ball {
    margin-bottom: 20px;
  }

  .feature-icon--gift {
    margin-bottom: 18px;
  }

  .feature-item--eco {
    order: 1;
  }

  .feature-item--price {
    order: 3;
  }

  .feature-item--like {
    order: 5;
  }

  .feature-item--love {
    order: 2;
  }

  .feature-item--support {
    order: 4;
  }

  .feature-item--present {
    order: 6;
  }
}
