.main-nav {
  @include font-set($weight, 17px, 24px);
  width: 100%;
}

.main-nav__toggle {
align-self: flex-end;
position: absolute;
top: 27px;
}


.main-nav__list {
  padding: 0;
  margin: 0;
}

.main-nav__item {
  padding: 25px 0;
  text-align: center;
  list-style-type: none;
}

.main-nav__link {
  text-decoration: none;
  color: $color-black;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    visibility: hidden;
  }
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 170px;
  }
  .main-nav__item--search,
  .main-nav__item--basket  {
    padding: 35px 0 35px;
    align-self: flex-start;
  }
  .main-nav__item--basket {
    padding-right: $indents-tablet;
  }
  .main-nav__item--catalog,
  .main-nav__item--form  {
    align-self: flex-end;
    padding: 24px 0;
  }
  .main-nav__item--catalog {
    padding-left: $indents-tablet;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    min-height: 90px;
    max-width: 100%;
    justify-content: space-between;
  }

  .main-nav__item {
    align-self: flex-start;
    padding: 35px 0;
  }
}
