.map {
  display: block;
  margin-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .map {
    margin-bottom: 44px;
  }
}

/*С какртой какие то таблы*/
@media (min-width: $desktop-width) {
  .map {
    position: absolute;
    left: 380px;
    top: 71px;
    z-index: -1;
    width: 525px;
    height: 457px;
  }
}
