.modal {
  outline: 1px solid $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 336px;
  margin: 0 auto;
  width: 320px;
  padding: 36px 30px 46px;
  box-sizing: border-box;
}

.modal__title {
  text-transform: uppercase;
  padding: 0 50px 26px;
  text-align: center;

  @include font(25px, 30px);
}

.modal__field-wrapper {
  display: flex;
  justify-content: space-around;
  min-height: 52px;
  padding-bottom: 31px;
}

.add-to-cart__text {
  margin: 0;
  padding-bottom: 28px;

  @include font(15px, 30px);

}

.modal__btn {
  min-height: 52px;
  width: 260px;
}

@media (min-width: $tablet-width) {
  .modal {
    width: 566px;
    padding: 50px 108px 46px;
  }

  .modal__title {
    padding: 0 0 39px;
  }
}
