.modal {
  outline: 1px solid $color-black;
  padding: 0 $indents;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__title {
  text-transform: uppercase;
}

.modal__field-wrapper {
  display: flex;
  justify-content: space-around;
}
