
.order-form__text {
  margin: 0;
  padding: 29px $indents 33px;
}

.order-form__wrapper {
  padding: 0 $indents 34px;
}

.order-form__item {
  padding: 0;
  border: none;
}

.order-form__title {
  font-weight: $weight;
  text-transform: uppercase;
  color: $color-blue-lighter;
}

.order-form__group {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.order-form__row {
  display: flex;
  flex-direction: column;
}

.order-form__label-radio {
  font-weight: $weight;
}

.order-form__label-check {
  font-weight: $weight;
}

.order-form__label {
  font-weight: $weight;
}

@media (min-width: $tablet-width) {
  .order-form__wrapper {


  }
  .order-form__item {
    padding: 0 $indents-tablet;
  }

  .order-form__item:nth-child(2) {
    background-color: $color-gray-light;
  }

  .order-form__item:nth-child(4) {
    background-color: $color-gray-light;
  }

  .order-form__item:nth-child(5) {
    background-color: $color-gray-light;
  }
}

@media (min-width: $desktop-width) {
  .order-form__item {
    padding: 0 $indents-desktop;
  }

  .order-form__item:nth-child(2) {
    background-color: $color-gray-light;
  }

  .order-form__item:nth-child(4) {
    background-color: $color-gray-light;
  }

  .order-form__item:nth-child(5) {
    background-color: $color-gray-light;
  }
}
