.order-form__item {
  border: none;
}

.order-form__title {
  font-weight: $weight;
  text-transform: uppercase;
  color: $color-blue-lighter;
}

.order-form__label-radio {
  font-weight: $weight;
}

.order-form__label-check {
  font-weight: $weight;
}

.order-form__label {
  font-weight: $weight;
}

@media (min-width: $tablet-width) {
  .order-form__item {
    padding: 0 $indents-tablet;
  }
  .order-form__item:nth-child(2) {
    background-color: $color-gray-light;
  }
  .order-form__item:nth-child(4) {
    background-color: $color-gray-light;
  }
  .order-form__item:nth-child(5) {
    background-color: $color-gray-light;
  }
}

@media (min-width: $desktop-width) {
  .order-form__item {
    padding: 0 $indents-desktop;
  }
  .order-form__item:nth-child(2) {
    background-color: $color-gray-light;
  }
  .order-form__item:nth-child(4) {
    background-color: $color-gray-light;
  }
  .order-form__item:nth-child(5) {
    background-color: $color-gray-light;
  }
}
