
.order-form__text {
  margin: 0;
  padding: 29px 0 33px;
}

.order-form__wrapper {
  padding: 0;
}

.order-form__item {
  padding: 0;
  border: none;
}

.order-form__title {
  font-weight: $weight;
  text-transform: uppercase;
  color: $color-blue-lighter;
  position: relative;

}

.order-form__title::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    top: 50%;
    left: 62px;
    background-color: #63d1bb;
}

.order-form__group {
  list-style-type: none;
  padding: 39px 0 15px 0;
  margin: 0;
}

.order-form__row {
  padding-bottom: 30px;
}

.order-form__label-radio,
.order-form__label-check,
.order-form__label {
  padding-left: 63px;
  display: block;

  @include font-set($weight, 17px, 18px)
}

.order-form__input-radio,
.order-form__input-check {
  display: none;
}

.order-form__label--full-name {
  padding-left: 0;
}

.order-form__input-text {
  margin-top: 20px;
  width: 100%;
  color: #444444;
  height: 35px;
  border: 0;
  border-bottom: 2px solid #000;
  padding-bottom: 13px;

  @include font-set($weight, 17px, 19px)

  font-family: $font-main;
}

.order-form__input-tel,
.order-form__input-email {
  margin: 20px 0 35px;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #000;
  padding-bottom: 13px;
}

.order-form__input-text:hover {
  border-color: #62d1ba;
}

input::-webkit-input-placeholder {
  color: #bfbdbd;
  font-weight: 100;
}

.order-form__textarea-comment {
  margin-top: 27px;
  width: 100%;
  min-height: 142px;
  border: 2px solid $color-gray-dark;
}

.order-form__textarea-comment:hover {
    border-color: $color-blue;
}

.order-form__footer {
  margin: 18px 0 55px;
}

.order-form__required {

  @include font-set(100, 14px, 16px)

}

.order-form__btn {
  display: block;
  width: 100%;
  margin-top: 34px;
}

@media (min-width: $tablet-width) {
  .order-form__text {
    padding: 80px 0 0;
  }

  .order-form__item {
    padding: 0;
  }

  .order-form__item:nth-child(2) {
    background-color: $color-gray-light;
  }

  .order-form__item:nth-child(4) {
    background-color: $color-gray-light;
  }

  .order-form__item:nth-child(5) {
    background-color: $color-gray-light;
  }
  .order-form__wrapper {
    display: flex;
    padding-top: 68px;
  }

  .order-form__title {
    width: 167px;
  }

  .order-form__title::after {
    height: 0;
  }

  .order-form__group {
    padding: 0;
  }

  .order-form__label-radio,
  .order-form__label-check {
    padding-left: 82px;
  }

  .order-form__row {
    display: flex;
  }

  .order-form__label--full-name {
    padding-right: 25px;
  }

  .order-form__input-tel,
  .order-form__input-email,
  .order-form__input-text {
    margin: 0;
    width: 100%;
  }

  .order-form__group--color {
    display: flex;
    height: 303px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .order-form__footer {
    display: flex;
    flex-wrap: wrap;
    margin: 53px 0 50px;
  }

  .order-form__btn {
    margin-top: 0;
    width: 230px;
    order: -1;
  }

  .order-form__required {
    margin: auto 0 auto auto;
  }
}

@media (min-width: $desktop-width) {

  .order-form__title {
    width: 175px;
    text-align: center;
  }

  .order-form__footer {
    margin: 53px 0 50px 175px;
  }
}
