.page-header__title {
  width: 260px;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;

  @include font-set($weight, 27px, 30px);
}

.page-header__intro {
  background-color: #fbfbfb;
  min-height: 177px;
  z-index: 10;

  &--image {
    min-height: 283px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -16px;
  }
}

@media (min-width: $tablet-width) {
  .page-header__intro {
    margin-top: -58px;

    &--image {
      min-height: 718px;
      background-size: cover;
    }
  }

  .page-header__title {
    @include font-set($weight, 43px, 50px);
    padding: 0;
    padding-top: 155px;
    width: $tablet-width;
  }

  .page-header__title--no-image {
    margin-top: 0;
    padding-top: 95px;
    padding-bottom: 134px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__title {
    width: 700px;
    margin: 0 auto;

    @include font-set($weight, 53px, 57px);
  }

  .page-header__title--no-image {
    padding-top: 95px;
    padding-bottom: 108px;
  }

  .page-header__offer {
    padding-top: 30px;
  }

  .page-header__intro {
    margin-top: -42px;

    &--image {
      padding: 0;
      min-height: 718px;
      background-position: bottom;
    }
  }
}
