.page-header {
  margin: 0 auto;
  box-sizing: border-box;
  outline: 1px solid black;
}

.page-header__title {
  padding: 74px $indents 0;
  text-align: center;
  margin: 0;

  @include font(27px, 30px);
}

.page-header__offer {
  display: none;
}

.page-header__intro {
  background-color: $color-gray-light;
  min-height: 177px;
  z-index: -1;

  &--image {
    min-height: 283px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -16px;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    max-width: $tablet-width;
    padding: 0;
    position: relative;
  }

  .page-header__offer {
    display: block;
    margin: 0;
    padding-top: 24px;
    text-align: right;
  }

  .page-header__intro {
    padding: 0 $indents-tablet;
    margin-top: -53px;

    &--image {
      min-height: 500px;
      background-position: bottom;
    }
  }

  .page-header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, $color-white 13px);
  }

  .page-header::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image:
    radial-gradient(circle at 10px 15px, $color-white 12px, transparent 13px);
  }

  .page-header__title {
    padding: 77px 88px 83px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    max-width: $desktop-width;
  }

  .page-header__intro--image {
    padding: 0;
    background-position: bottom;
  }
}
