.page-main {
  margin: 0 auto;
  box-sizing: border-box;
  outline: 1px solid blue;
}

@media (min-width: $tablet-width) {
  .page-main {
    padding: 0;
    max-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    max-width: 1250px;
  }
}
