.page-menu {
  background-color: $color-gray-light;
}

.page-menu__list {
  padding: 0;
  margin: 0;
}

.page-menu__item {
  list-style-type: none;
  padding: 31px 30px 36px;
  background-color: $color-blue-lighter;

  @include font(19px, 24px);
}

.page-menu__item:nth-child(2n) {
  background-color: $color-blue-darker;
}

.page-menu__link {
  display: block;
  text-decoration: none;
  color: $color-white;
  font-weight: $weight;
  width: 130px;
}

@media (min-width: $tablet-width) {
  .page-menu__list {
    display: flex;
    padding: 0 $indents-tablet;
  }

  .page-menu__item {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .page-menu__list {
    display: flex;
    padding: 0 $indents-desktop;
  }

  .page-menu__item {
    width: 100%;
  }
}
