.page-footer__wrapper {
  padding: 0 $indents;
  margin: 0 auto;
  outline: 1px solid ;
  text-align: center;
  background-color: $color-gray-light;
}


.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 81px;
  outline: 1px solid red;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    padding: 0;
    display: flex;
    flex-direction: row;
    max-width: $tablet-width;
  }

  .page-footer__logo {
  display: block;
  margin: auto 0;
}

  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    width: 34%;
  }

  .page-footer__logo {
    text-align: left;
  }

  .copyright {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
.page-footer {
  max-width: 1150px;
  padding: 0 50px;

}
}
