.page-footer__wrapper {
  padding: 13px 0 20px;
  margin: 0 auto;
  background-color: $color-gray-light;
  max-width: $mobile-width;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 81px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    padding: 0;
    display: flex;
    max-width: $tablet-width;
  }

  .page-footer__logo {
    display: block;
    margin: auto 0;
    text-align: left;
    padding-left: $indents-tablet;
  }

  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    width: 34%;
  }

  .copyright {
    margin-left: auto;
    padding-right: $indents-tablet;
  }
}

@media (min-width: $desktop-width) {
  /*Не понимаю почему тут задаю ширину через перемнную, а блок обрезанный*/
  .page-footer__wrapper {
    max-width: $desktop-width;
    min-height: 144px;
  }

  .copyright {
    margin-left: auto;
    padding-right: $indents-desktop;
  }
}
