.page-header__title {
  width: 260px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 90px;

  text-align: center;

  @include font-set($weight, 27px, 30px);

  &--image {
    padding-top: 70px;
    padding-bottom: 0;
  }

  &--form {
    padding-bottom: 90px;
  }
}

.page-header__intro {
  background-color: #f9f9f9;

  &--image {
    z-index: 10;
    background-image: url("../img/hero-mobile@1x.jpg");
    min-height: 283px;
    background-size: 575px 373px;
    background-repeat: no-repeat;
    background-position: 50% 21%;
    background-size: 580px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;
  }

  .page-header__intro {
    max-width: 100%;
    margin-top: -59px;

    &--image {
      min-height: 630px;
      background: url("../img/hero-tablet@1x.jpg") 50% 0 no-repeat #f9f9f9;
      background-size: 1150px 630px;
      flex-wrap: wrap;
      align-items: flex-end;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
      }
    }
  }

  .page-header__intro::after {
    position: absolute;
    z-index: 20;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 19px;
    content: "";
    background: url("../img/bg-zigzag-fill.svg") repeat-x 0 0;
    background-size: 100%;
  }

  .page-header__title {
    padding-top: 95px;
    width: $tablet-width;

    &--image {
      padding-top: 155px;
    }

    @include font-set($weight, 43px, 50px);
  }

  .page-header__title--no-image {
    margin-top: 0;
    padding-top: 95px;
    padding-bottom: 134px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__intro::after {
    height: 25px;
  }

  .page-header__title {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 107px;

    @include font-set($weight, 53px, 57px);
  }

  .page-header__offer {
    padding-top: 30px;
  }

  .page-header__intro {
    margin-top: -42px;

    &--image {
      min-height: 630px;
      background: url("../img/hero-desktop@1x.jpg") 50% 0 no-repeat #f9f9f9;
      background-size: 1150px 630px;
      flex-wrap: wrap;
      align-items: flex-end;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
      }
    }
  }
}
