.reviews__wrapper {
  outline: 1px solid $color-black;
  padding: 0 $indents;
}

.review__item {
  margin: 0;
}


@media (min-width: $tablet-width) {
  .reviews__wrapper {
  padding: 0 $indents-tablet;
  position: relative;
  background-image: url("../img/review@1x.jpg");
  background-repeat: no-repeat;
  min-height: 542px;
  }

  .reviews__title {
    font-size: $size-h2-table;
  }


  .product-week__btn {
    width: 175px;
    text-align: center;
 }

 .reviews__btn {
  order: -1;
 }
}
