.reviews__wrapper {
  padding: 24px $indents 45px;
}

.reviews__title {
  margin: 0 0 25px;

  @include font-set($weight, 25px, 30px);
}

.review__item {
  margin: 0 0 29px;
  padding: 0;
}

.review__text {
  margin: 0 0 23px;
  padding: 0;

  @include font-set(normal, 15px, 30px);
}

.review__author {
  display: block;
  font-style: normal;

  @include font-set($weight, 17px, 30px);
}

.review__author-nick {
  display: block;

  @include font-set(normal, 17px, 30px);
}

.reviews__toggles {
  display: flex;
  margin: 0 0 38px;
  padding: 0;
}

.btn__slider {
  width: 130px;
  height: 52px;
  background-color: transparent;
  background-size: 51px 26px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;

  border: 1px solid $color-gray-light;
}

.slider__icon {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__btn {
  text-align: center;
  display: block;

  @include font-set($weight, 18px, 20px);
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    padding: 72px $indents-tablet 102px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px auto;
    background-position: left top;
    max-width: $tablet-width;
    position: relative;
  }

  .reviews__title {
    margin-left: -4px;
    margin-bottom: 49px;
    order: 0;

    @include font(43px, 50px);
  }

  .review__text {
    margin-bottom: 54px;

    @include font(17px, 30px);
  }

  .reviews__btn {
    position: absolute;
    top: 72px;
    right: 50px;
    width: 171px;
  }

  .review__author {
    font-size: 18px;
  }

  .reviews__toggles {
    position: absolute;
    right: 50px;
    bottom: 134px;
    margin-bottom: 0;
  }

  .btn__slider {
    width: 88px;
    border: none;
  }

}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    padding-top: 69px;
    padding-bottom: 156px;
    max-width: $desktop-width;
    background-position: 50px top;
  }

  .reviews__title {
    margin-left: 170px;

    @include font(53px, 57px);
  }

  .review__text {
    padding-right: 90px;
    margin-bottom: 37px;
    margin-left: 173px;
  }

   .review__author {
    font-size: 17px;
    margin-bottom: 2px;
    margin-left: 173px;
  }

  .reviews__toggles {
    bottom: 186px;
  }



}
