.social {
  outline: 1px solid red;
  padding: 0 $indents;

}

.social__list {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


