html,
body {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 320px;
  min-width: 320px;
  min-height: 100vh;
  word-wrap: break-word;
  font-family: $font-main;

  @include font($size, $line-height);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@media (min-width: $tablet-width) {
  body {
    max-width: 100%;
    width: $tablet-width;
    outline: 1px solid yellow;
  }
}

@media (min-width: $desktop-width) {
  body {
    max-width: 100%;
    width: $desktop-width;
  }
}


