font($size, $line-height) {
font-size: $size;
line-height: $line-height;
}

font-set($weight, $size, $line-height) {
font-weight: $weight;
font-size: $size;
line-height: $line-height;
}

transition($property, $time, $transition) {
transition-property: $property;
transition-duration: $time;
transition-timing-function: $transition;
}

center() {
display: flex;
justify-content: center;
align-items: center;
}


