$color-white: #ffffff;
$color-black: #000000;
$color-blue: #62d1ba;
$color-blue-lighter: #56c3b2;
$color-blue-darker: #63d1bb;
$color-gray-light: #ececec;
$color-gray-normal: #c7c7c7;
$color-gray-dark: #444444;
