$color-white: #ffffff;
$color-black: #000000;
$color-blue: #62d1ba;
$color-blue-lighter: #63d1bb;
$color-blue-darker: #56c3b2;
$color-gray-light: #ececec;
$color-gray-normal: #c7c7c7;
$color-gray-dark: #444444;

$font-family: "Open Sans";
$size: 14px;
$line-height: 30px;
$weight: bold;

$padding: 30px;


$property: all;
$time: 2s;
$transition: ease;

